body {
    font-family: sans-serif;
    background-color: white;
}

header {
    display:flex;
    justify-content: space-between;
    padding:15;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    display:flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 15px ;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black; 
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 25px;
}

p {
    font-size: 24px;
}

.info {
    display:flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
  
    background-color: white;
    padding: 10px;
    width: 400px;
    margin: 10px;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

footer {
    display:flex;
    background-color: white;
    padding: 50px;
}

footer a {
    margin-right: 40px;
}

footer p {
    font-size: 24px;
}
